@model ControlCalidad.Models.Cliente

@{
    ViewBag.Title = "Details";
}

<h3 class="text-grey">Detalles de Cliente</h3>
<div class="margin-b1">
    <hr />
</div>


<div class="row">
    <div class="col s8 offset-s2">
        <div class="card hoverable ">
            <nav>
                <div class="nav-wrapper  blue draken-3">
                    <p class="col s4">Quality Expert S.A</p>
                </div>
            </nav>
            <div class="card-content black-text">

                <div class="row">

                    <div class="col s6">
                        <div class="col s12 margin-b1">
                            <p class="p-size"> <i class="material-icons left text-grey">person</i> <span class="text-turq"> Nombre de cliente </span> : Andres </p>
                        </div>

                        <div class="col s12 margin-b1">
                            <p class="p-size"> <i class="material-icons left text-grey">person</i> <span class="text-turq"> Primer apellido </span> : Davidovich </p>
                        </div>
                        <div class="col s12 margin-b1">
                            <p class="p-size"> <i class="material-icons left text-grey">person</i> <span class="text-turq"> Segundo apellido </span> : Molina </p>
                        </div>
                        <div class="col s12 margin-b1">
                            <p class="p-size"> <i class="material-icons left text-grey">perm_identity</i> <span class="text-turq"> Cédula </span> : 116790471 </p>
                        </div>
                        <div class="col s12 margin-b1">
                            <p class="p-size"> <i class="material-icons left text-grey">call</i> <span class="text-turq"> Teléfono</span> : 89075667 </p>
                        </div>
                    </div>

                    <div class="col s6">
                        <div class="col s12 margin-b1">
                            <p class="p-size"> <i class="material-icons left text-grey">mail</i> <span class="text-turq"> Correo</span> : adavidovich@gmail.com </p>
                        </div>
                        <div class="col s12 margin-b1">
                            <p class="p-size"> <i class="material-icons left text-grey">place</i> <span class="text-turq"> Provincia</span> : San Jose </p>
                        </div>
                        <div class="col s12 margin-b1">
                            <p class="p-size"> <i class="material-icons left text-grey">place</i> <span class="text-turq"> Cantón</span> : Curridabat </p>
                        </div>
                        <div class="col s12 margin-b1">
                            <p class="p-size"> <i class="material-icons left text-grey">place</i> <span class="text-turq"> Distrito</span> : Curridabat </p>
                        </div>
                        <div class="col s12 margin-b1">
                            <p class="p-size"> <i class="material-icons left text-grey">place</i> <span class="text-turq"> Dirección Exacta</span> : Curridabat, San Jose </p>
                        </div>
                    </div>


                </div>
            </div>
            <div class="card-action center">
                <a class="margin-r waves-effect btn red accent-4 red-hover modal-trigger" href="#modal1">Borrar</a>
                @Html.ActionLink("Editar", "Edit", new { id = 1 }, new { @class = " margin-l waves-effect waves-light btn turq"
           } )
            </div>
        </div>
    </div>
</div>

<div class="fixed-action-btn">
    <a href="@Url.Action( "Index" , "Client/Index" )" class="btn-floating btn-large black left turq-hover">
        <i class="large material-icons">arrow_back</i>
    </a>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="row">
        <div class="">
            <nav>
                <div class="nav-wrapper blue draken-3">
                    <p class="col s4 offset-s5">Quality Expert S.A</p>
                </div>
            </nav>
        </div>
    </div>

    <div class="modal-content ">
        <div class="row">
            <div class="col s2">
                <i class="material-icons medium red-text text-darken-4">warning</i>
            </div>
            <div class="s8">
                <h5>Está seguro que desea <span class="red-text text-darken-4 "> borrar </span> al cliente Andres Davidovich ?</h5>
            </div>
        </div>


        <div class="margin-b1">
            <hr />
        </div>

        <div class="modal-footer">
            <a class="modal-close btn red-hover  red accent-4 white-text">Cancelar</a>
            @Html.ActionLink("Aceptar", "RemoveClient", new { clientId = 1 }, new { @class = "waves-effect waves-effect waves-light btn turq" })
        </div>
    </div>
</div>