@model ControlCalidad.Models.Prueba

@*{
        ViewBag.Title = "Create";
    }*@

@{
    if( User.IsInRole( "Tester" ) || User.IsInRole( "Lider" ) || User.IsInRole( "Jefe" ) )
    {

        int? requirementId = ViewBag.requirementId;
        int? projectId = ViewBag.projectId;

        <h3 class="text-grey">Crear prueba</h3>
        <div class="margin-b1">
            <hr />
        </div>

        <div class="row container">

            <div class="">

                <div class="card hoverable">

                    <nav>
                        <div class="nav-wrapper black">
                            <p class="col s4">Quality Expert S.A</p>
                        </div>
                    </nav>

                    <div class="margin-b">

                    </div>

                    @using( Html.BeginForm( "Create" , "Test" , FormMethod.Post , new {
                        @onsubmit = "onSubmit()"

                    } ) )
                    {
                        <div class="margin-b section">

                        </div>

                        @Html.AntiForgeryToken( )

                        <div class="form-horizontal">

                            @Html.ValidationSummary( true , "" , new {
                           @class = "text-danger"
                       } )


                            <div class="row">

                                <div class="col s8 offset-s3">


                                    <div class="row margin-b hide">

                                        <div class="input-field col s11">

                                            <i class="p-size text-grey material-icons prefix">info</i>
                                            <label for="id_proyectoFK">Id del proyecto <span class="red-text">  *</span></label>
                                            <input name="id_proyectoFK" type="text" value=@projectId />
                                            <span class="text-error" id="nameError"></span>

                                        </div>

                                    </div>

                                    <div class="row margin-b hide">

                                        <div class="input-field col s11">

                                            <i class="p-size text-grey material-icons prefix">assignment_ind</i>
                                            <label for="id_requerimientoFK">Id del requerimiento <span class="red-text">  *</span></label>
                                            <input name="id_requerimientoFK" type="text" value=@requirementId />
                                            <span class="text-error" id="nameError"></span>

                                        </div>

                                    </div>


                                    <div class="row margin-b">

                                        <div class="input-field col s11">

                                            <i class="p-size text-grey material-icons prefix">assignment_ind</i>
                                            <label for="nombre"> Nombre de la prueba <span class="red-text">  *</span></label>
                                            <input name="nombre" required class="validate form-control" type="text" />
                                            <span class="text-error" id="nameError"></span>

                                        </div>

                                    </div>

                                    <div class="row margin-b">

                                        <div class="input-field col s11">

                                            <i class="p-size text-grey material-icons prefix">info</i>

                                            <select name="resultadoFinal">
                                                <option value="" selected>Seleccione un estado</option>
                                                <option value="Incompleta">Incompleta</option>
                                                <option value="Exitosa">Exitosa</option>
                                                <option value="Fallida">Fallida</option>

                                            </select>
                                            <span class="text-error" id="nameError"></span>

                                        </div>

                                    </div>

                                    <div class="row margin-b">

                                        <div class="input-field col s11">

                                            <i class="p-size text-grey material-icons prefix">border_color</i>
                                            <textarea id="details" class="materialize-textarea" name="detalleResultado"></textarea>
                                            <label for="details">Detalles del resultado</label>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                        <div class="hide row container center" id="loading">
                            <div class="">
                                <i class="material-icons text-turq ">info_outline</i>
                            </div>
                            <div class="">
                                <p class="text-turq">
                                    Creando... Por favor espere.
                                </p>
                            </div>

                            <div class="progress">
                                <div class="indeterminate"></div>
                            </div>
                        </div>

                        <div class=" row container center hide " id="complete">
                            <div class="">
                                <i class="material-icons text-turq ">info_outline</i>
                            </div>
                            <div class="">
                                <p class="text-turq">
                                    Se creó correctamente.
                                </p>
                            </div>
                        </div>

                        <div class="margin-required col s4 offset-s5">
                            <p class="text-error">
                                Los campos con * son requeridos.
                            </p>
                        </div>

                        <div class="margin-b1">
                        </div>
                        <br />
                        <br />

                        <div class="row center">

                            <button type="reset" class="margin-r waves-effect red-hover btn red accent-4">Cancelar</button>
                            <button type="submit" class="margin-l waves-effect waves-light btn turq">Crear</button>

                        </div>
                        <div class="fixed-action-btn">
                            <a href="@Url.Action( "Index" , "Test" , new {
                                id = requirementId ,
                                projectId = projectId
                            } )" class="btn-floating btn-large black tooltipped" data-position="left" data-tooltip="Volver">
                                <i class="large material-icons">arrow_back</i>
                            </a>
                        </div>
                        <br />
                    }

                </div>

            </div>

        </div>

    }
    else
    {
        <div class="row container center top-m-block">

            <div class="card hoverable s10 section">
                <h3>Lo sentimos.<br />No tienes acceso a esta sección</h3>
                <i class="large material-icons red-text">block</i>

            </div>
        </div>
    }
}

@section Scripts {
    @Scripts.Render( "~/bundles/jqueryval" )
}
