@{
    ViewBag.Title = "Home Page";
}

<div>
    <div class="parallax-container">
        <div class="parallax"><img src="https://cdn.pixabay.com/photo/2016/02/19/11/19/office-1209640_960_720.jpg"></div>
    </div>
    <div class="section black">
        <div class="row container">
            <h2 class="header white-text">Quality Expert S.A</h2>
            <p class="grey-text">
                La empresa QualityExpert S.A. se especializa en verificar la calidad del software
                desarrollado por otras organizaciones. Para eso cuenta con un equipo de especialistas en
                pruebas que verifican la calidad de los requerimientos de los proyectos presentados por
                los clientes. Actualmente las empresas clientes presentan el código de un proyecto con n
                requerimientos y los testers verifican que la funcionalidades se ejecuten correctamente,
                es decir, que esté libre de errores y que se cumpla la especificación de los requerimientos
            </p>
        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax"><img src="https://cdn.pixabay.com/photo/2015/01/08/18/25/startup-593327_960_720.jpg"></div>
    </div>
</div>

